* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    
    
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: rgb(113, 112, 163);
    width: 100%;
    
    
}
h1, h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    text-align: center;
}
ul {
    list-style: none;
    display: flex;
    
}
li {
    margin: 10px;
    font-weight: 500; 
}
a {
    text-decoration: none;
    color: white;
}
img {
    display: block;
    width: 100%;
}
#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(54, 43, 40);
}

#welcome-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(60deg, rgb(83, 80, 80), rgb(26, 24, 24));
}
.project-title {
    max-width: 640px;
    margin: 0 auto 40px auto;
    border-bottom: 2px solid black;
}
#project {
    text-align: center;
    padding: 5rem 2rem;
    background-color: rgba(72, 48, 95, 0.712);
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    margin: 0 auto;
    
}

.btn {
    background-color: rgb(151, 145, 136);
    display: inline-block;
    border-radius: 2px;
    transition:  0.3s ease-out;
    padding: 10px;
    margin-top: 15px;
}
.btn:hover  {
    transform: translateY(15px);
  }

  #contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    
    background-color: rgba(42, 46, 46, 0.377);
  }

  #contacts h2 {
    margin-bottom:  15px;
    font-weight: 600;
  }

  footer {
    width: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    
  }

  @media (max-width: 740px) { 
    body{
    font-size: 55%;
}
  }